/*
 * Theme Name:   zeeStyle Child
 * Description:  zeeStyle Child Theme
 * Author:       James Lott
 * Author URI:   http://www.lottspot.com/
 * Template:     zeestyle
 * Version:      1.0.0
 * Text Domain:  zeestyle-child
 *         
 */

@import url("parent/style.css");

div .page {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid black;
}
